.productPageFilterContainer {
    height: 50px;

    .productPageFilterForm {
        display: flex;
        flex-direction: row;
        gap: 4rem;
        justify-content: center;

        label {
            display: flex;
            flex-direction: row;
            gap: .5rem;
        }
    }
}


.productsList {
    width: 80%;
    height: 15rem;
    margin: auto;
    display: flex;
    flex-direction: row;

    .productContainer {
        img {
            object-fit: contain;
            border: 1px solid rgba(0, 0, 0, 0.3);
            padding: 1rem;
            box-shadow: 5px 5px #d3d3d3;
            border-radius: 30px;
            cursor: pointer;
        }

        .productText {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            line-height: 0;
            gap: 0;

            .productData {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: center;

                p {
                    line-height: 0;
                }

                .productOptions {
                    display: flex;
                    flex-direction: row;
                    gap: 1rem;

                    button {
                        border: none;
                        background-color: white;
                        padding: .5rem;
                        font-size: 1rem;
                        border-radius: 10px;
                        position: relative;
                        cursor: pointer;
                        transition: all 0.25s ease-in-out;

                        &:hover {
                            background-color: #d3d3d3;
                        }
                    }
                }
            }
        }
    }
}